main {
    margin: 85px 353px 0 20px;
}

.title {
    position: relative;
}

.restaurant-background {
    width: 100%;
    max-width: 928px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.logo {
    position: absolute;
    left: 20px;
    bottom: -35px;
    z-index: 100;
    width: 80px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.342);
}

.restaurant-name {
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
}

.restaurant-info {
    display: flex;
    justify-content: space-between;
}

.info {
    font-size: 14px;
    font-weight: 500;
    color: rgb(131, 131, 131);
    line-height: 25px;
}

.top-info {
    display: flex;
}

.star-icon {
    margin: 0px 5px 2px;
    width: 14px;
    object-fit: contain;
}

#open-text {
    color: green;
}

.pricing-container {
    display: flex;
}

.pricing-container img {
    width: 12px;
    margin-left: 3px;
    object-fit: contain;
}

.more-info-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 7px 10px;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.more-info-container img {
    width: 20px;
}

.more-info-container p {
    margin-left: 2px;
    font-size: 15px;
    font-weight: bold;
}

.more-info-container button:hover {
    background-color: rgb(196, 196, 196);
}

.delivery-container {
    border: 1px solid gray;
}

#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 0;
    top: 65px;
    bottom: 0;
    border-left: 1px solid rgb(219, 219, 219);
    padding: 50px;
    background-color: white;
}

#sidebar img {
    margin-bottom: 20px;
}

#sidebar p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(118, 118, 118);
    line-height: 20px;
}